* {
    margin: 0;
    padding: 0;
  }
body{
    display: flex;
    justify-content: center;
    min-width: 156px;
}
main{
    display: flex;
    justify-content: center;
    width: 70%
}
.calculator {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: max-content
}
.ctop {
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid black;
    width: 100%;
}
.cbody{
    display: flex;
}

.key{
 border: none;
 height: 2.5em;
 color: black;
 font-size: 2em;
}
.sign{
    background-color: #80E3D1;
}
.highlightedOperator{
    background-color: #019b81;
}
.left_border{
    border-left: 5px solid black;
}
#display {
    text-align: end;
    background-color: #80E3D1;
    width: 300%;
    font-size: xx-large;
    color: white;
    border: none;
}
button {
    width: 100%;
    background-color: white;
}